
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Cool logo</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav ml-auto">
                {{#if user}}
                    <li class="nav-item">
                        <a class="nav-link" href="#">Buscar mis amigos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/auth/close">Cerrar sesión</a>
                    </li>                    
                {{else}}

                    <li class="nav-item">
                        <a class="nav-link" href="/auth/facebook">Iniciar sesión con Facebook</a>
                    </li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>